@import "tailwindcss";

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(100px);
}

#container {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
}

a {
  &:hover {
    text-decoration: underline;
	transition: all 0.3s ease-in-out;
  }

}
ul {
  list-style-type: none;
  margin-left: 20px;
}