---
import { RainbowButton } from '@/components/magicui/rainbow-button'

const link1 = "https://jramma.com";
const link2 = "https://www.linkedin.com/in/jramma/";
const link3 = "https://github.com/jramma";
---

<div class="flex flex-col items-center md:flex-row container justify-between gap-10 py-20 z-40 md:pb-80">
  <a href={link1} target="_blank" rel="noopener noreferrer">
    <RainbowButton>Web page</RainbowButton>
  </a>
  <a href={link2} target="_blank" rel="noopener noreferrer">
    <RainbowButton>Linkedin</RainbowButton>
  </a>
  <a href={link3} target="_blank" rel="noopener noreferrer">
    <RainbowButton>Github</RainbowButton>
  </a>
</div>