---
import Link from "../components/Link.astro";

const links = [
  { label: "My web", href: "https://www.jramma.com" },
  { label: "My projects", href: "https://www.jramma.com/projects/" },
  { label: "My resume", href: "https://jramma.netlify.app/en/" },
  { label: "My social", href: "https://www.jramma.com/contact/" },
];
---

<section class="flex flex-grow justify-center items-center h-full">
  <div
    class="card dark:shadow-[20px_20px_60px_rgba(0,0,0,0.6),-20px_-20px_60px_rgba(255,255,255,0.1)]
  relative p-1 rounded-xl flex flex-col justify-center items-center overflow-hidden"
  >
    <div
      class="aspect-video pr-40 pb-20 border-2 flex flex-col gap-4 border-solid border-white backdrop-blur-md rounded-lg p-6 w-full h-full z-20 bg-white/60 dark:bg-black/20 dark:text-white"
    >
      <a
        class="text-4xl transition-all duration-300 hover:scale-105 hover:text-accent"
        href="https://www.jramma.com"
        target="_blank"
      >
        Jramma
      </a>
      <p class="mt-4 text-lg text-gray-700 dark:text-gray-300">My links:</p>
      <div class="pl-4 flex flex-wrap gap-3 w-full flex-grow">
        {links.map((link) => <Link href={link.href} label={link.label} />)}
      </div>
    </div>
    <div
      class="blob blur-3xl absolute z-1 top-1/2 left-1/2 rounded-[50%] w-3/4 h-3/4 bg-primary"
    >
    </div>
  </div>
</section>
<style>
  .card {
    box-shadow:
      20px 20px 60px #bebebe,
      -20px -20px 60px #ffffff;
  }
  .blob {
    animation: blob-bounce 5s infinite ease;
  }

  @keyframes blob-bounce {
    0% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
      transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
      transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
      transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
      transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
  }
</style>
