---
import background from "../assets/background.svg";
import { Icon } from "astro-icon/components";
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main class="flex flex-col gap-6 min-h-screen items-center justify-center">
    <section class="max-w-96">
      <h1 class="text-2xl">Jramma: Desarrollador Frontend</h1>
      <p>
        Soy desarrollador frontend, especializado en páginas web, CMS,
        aplicaciones e interfaces. Mi lenguaje más fuerte es TypeScript.
      </p>
    </section>

    <section id="hero" class="flex font-semibold flex-col gap-6 max-w-3xl">
      <ul>
        <li>
          <h2 class="font-medium text-xl">Mis sitios web públicos:</h2>
          <ul class="ml-6 list-disc">
            <li>
              <a
                href="https://jramma.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                Portfolio <Icon class="w-4 h-4 inline-block" name="Link" />
              </a>
            </li>
            <li>
              <a
                href="https://questtattoostudio.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Quest Tattoo Studio <Icon
                  class="w-4 h-4 inline-block"
                  name="Link"
                />
              </a>
            </li>
            <li>
              <a
                href="https://sorolla.netlify.app/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Pinturas de Sorolla <Icon
                  class="w-4 h-4 inline-block"
                  name="Link"
                />
              </a>
            </li>
            <li>
              <a
                href="https://bigcitylife.netlify.app/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Big City Life <Icon class="w-4 h-4 inline-block" name="Link" />
              </a>
            </li>
            <li>
              <a
                href="https://jrammas.netlify.app/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Portfolio simple <Icon
                  class="w-4 h-4 inline-block"
                  name="Link"
                />
              </a>
            </li>
          </ul>

          <h2 class="font-medium text-xl">Mis repositorios públicos:</h2>
          <ul class="ml-6 list-disc">
            <li>
              <a
                href="https://github.com/jramma/astro-basics"
                target="_blank"
                rel="noopener noreferrer"
              >
                GitHub <Icon class="w-4 h-4 inline-block" name="Link" />
              </a>
            </li>
          </ul>

          <h2 class="font-medium text-xl">Redes sociales:</h2>
          <ul class="ml-6 list-disc">
            <li>
              <a
                href="https://www.linkedin.com/in/jramma"
                target="_blank"
                rel="noopener noreferrer"
              >
                LinkedIn <Icon class="w-4 h-4 inline-block" name="Link" />
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
</div>
