<header class="container flex justify-between items-center p-4">
  <div class="flex flex-col gap-4 md:pr-10 pr-4">
    <h1 class="font-bold md:text-6xl text-xl">Hi, I'm Jose 👋</h1>
    <p>
      Passionate about technology and innovation. I enjoy creating impactful
      solutions and empowering others to achieve their goals.
    </p>
  </div>
  <img class="rounded-full md:w-36 md:h-36 w-20 h-20 self-start" src="./DSC_1278.jpg" />
</header>
